* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-box {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    width: 300px;
    padding: 50px 30px;
    background-color: antiquewhite;
    gap: 10px 0;
}

.heading {
    text-align: center;
}

.btn {
    align-self: flex-end;
}

#email-error-message {
    display: none;
    color: red;
}

#pass-error-message {
    display: none;
    color: red;
}

input {
    padding: 4px;
}

select {
    padding: 2px;
}

button {
    padding: 4px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blue;
    width: 600px;
    padding: 50px 30px;
    background-color: antiquewhite;
    gap: 10px 0;
}

table {
    margin: 0 auto;
}

.table-box {
    max-width: 100%;
}

th,
td {
    border: 2px solid black;
    padding: 4px
}

.box {
    display: none;
}